.ParentBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.Board {
    background-color: #ACD1E9;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    color: #F5FAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia';
    font-size: 5em;
}

.Board:hover {
    cursor: pointer;
    background-color: #E8D0A9;
}