.MessageParent {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-bottom: 2%;
}

.Message {
    display: inline;
    color: #F5FAFA;
    font-size: 4em;
    font-weight: bold;
}